/* Global Vars */

:root {
  --light-theme-clr: #ff9800;
  --dark-theme-clr: #c57600;
  --p-clr: #adadad;
  --trans: 0.5s;
  --pad: 80px;
}
body {
  height: 4000px;
}

/* Framework */
.head-border::after {
  content: "";
  display: block;
  width: 65px;
  height: 3px;
  margin: 20px 0;
  background-color: var(--light-theme-clr);
}

/* navbar */
.navbar-brand {
  color: white !important;
  font-size: 30px;
}
.navbar-brand span:first-child,
header h1 span:first-child {
  color: var(--light-theme-clr);
}
.navbar-brand span:last-child,
header h1 span:last-child {
  color: var(--dark-theme-clr);
}

.navbar-toggle i {
  transition: all var(--trans);
  color: var(--light-theme-clr);
}

.scrolled {
  opacity: 0.95;
}
.navbar {
  margin-bottom: unset;
  /* top: 94.5vh; */
}

/* Header */
header {
  background: url(https://images.pexels.com/photos/1797161/pexels-photo-1797161.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
    no-repeat top center / cover;
  height: calc(85vh - 52px);
  padding-top: calc(var(--pad) * 1.5);

  position: relative;
}
header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.52);
  top: 0;
}
header h1 {
  margin-top: 0;
  font-size: 100px;
  color: white;
}
header p.lead {
  position: relative;
  margin-bottom: 100px;
  color: white;
  font-size: 36px;
}
header p.lead::after {
  content: "";
  position: absolute;
  width: 15%;
  background-color: white;
  height: 3px;
  bottom: -50px;
  left: 0;
}
header p:nth-of-type(2) {
  margin-bottom: 20px;
  font-size: 18px;
  color: var(--p-clr);
  margin-bottom: 50px;
}
header .btn-default {
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 7px 25px;
}

header form {
  background-color: white;
  border-radius: 5px;
  padding-top: 20px;
}
header h2 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 50px;
}
header h2 span {
  color: var(--light-theme-clr);
}
header .form-control {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #dddddd98;
  width: 80%;
  margin: 0 auto 30px;
}
header form input[type="submit"] {
  background-color: var(--light-theme-clr);
  color: white;
  padding: 10px 0;
}

/* Social Media Section */
.social {
  padding-top: 30px;
  box-shadow: -2px -5px 13px #000;
}

.social h3 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}
.social p {
  color: #a1a1a1;
  line-height: 1.3;
}
.social i {
  color: #ccc;
  margin-right: 20px;
  transition: all var(--trans) ease-in-out;
  cursor: pointer;
}
.social .fa-facebook-f:hover {
  color: #1877f2;
}
.social .fa-twitter:hover {
  color: #1da1f2;
}
.social .fa-google-plus:hover {
  color: #dd4b39;
}
.social .fa-instagram:hover {
  color: #c13584;
}
.social .fa-pinterest:hover {
  color: #e60023;
}
.social .fa-rss:hover {
  color: #f26522;
}
.social .fa-stumbleupon:hover {
  color: #eb4924;
}

/* Tab section */

.tabs {
  padding-top: var(--pad);
  padding-bottom: var(--pad);
  background-color: #eee;
}
.tabs .tab-switch li {
  height: 110px;
  line-height: 110px;
  background-color: #333;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.tabs .tab-switch li.active {
  background-color: var(--light-theme-clr);
}
.tabs .tabs-content {
  margin-left: 30px;
}
.tabs .tabs-content > div:not(:first-child) {
  display: none;
}
.tabs .tabs-content h3 {
  margin-top: 0;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.tabs .tabs-content .lead {
  line-height: 1.63;
  font-size: 18px;
  color: var(--p-clr);
}
.tabs .tabs-content button {
  background-color: var(--light-theme-clr);
  color: white;
}

/* Sublist  section*/
.sublist {
  padding: var(--pad) 0;
}
.sublist .img-sub {
  margin-top: 40px;
  box-shadow: 5px 5px 15px var(--p-clr);
}
.sublist h3 {
  font-weight: bold;
  letter-spacing: -2px;
}
.sublist p {
  line-height: 1.7;
  color: var(--p-clr);
  margin-bottom: 30px;
}
.sublist .list-icon i {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: var(--light-theme-clr);
  border-radius: 50%;
  border: 1px solid var(--light-theme-clr);
}
.sublist .list-info .text-calc {
  width: calc(100% - 65px);
  margin-left: 20px;
}
.sublist .list-info .text-calc h4 {
  margin-top: 0;
  font-weight: bold;
}
/* Standard */
.standard {
  background-color: #f5f5f5;
}
.standard .list-info {
  margin-top: var(--pad);
}
