/* Framework */
.head-border::after {
  content: "";
  display: block;
  width: 65px;
  height: 3px;
  margin: 20px 0;
  background-color: var(--light-theme-clr);
}
.head-border.center::after {
  margin: 25px auto;
}

.head-border + .desc {
  color: var(--p-clr);
  margin-bottom: var(--pad);
}
.padd {
  padding-top: var(--pad);
  padding-bottom: var(--pad);
}
.padd-invert {
  padding-top: var(--pad);
  padding-bottom: var(--pad);
  background-color: var(--bg);
}
